@page "/ueberuns"

<MudGrid Class="pb-12">
    <!-- Produkt überschrift -->
    <MudItem xs="12">
        <MudPaper Class="d-flex justify-content-center" Style="@($"background:#F0F0F0")" Elevation="0">
            <MudPaper Class="flex-auto pt-2" Style="@($"color:{Colors.Green.Darken3}; padding-bottom:12px; background:{Colors.Shades.Transparent}")">
                <MudText Typo="Typo.h4" Class="text-center" Style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight:bold">Über uns</MudText>
            </MudPaper>
        </MudPaper>
    </MudItem>
</MudGrid>

<MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
                     <strong>Über uns</strong>
</MudText>
<MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <p>
        Hinter dem Hardware4You steckt das gesamte IT Service & Support Team von Lidl Schweiz. Wir sind diejenigen, die euch via IT-Hotline, Tickets oder vor Ort mit Rat und Tat zur Seite stehen.
        <br /><br />Wer uns etwas kennt, weiss, dass alles an IT-Hardware in unserer Verantwortung steht. Von Laptop, PCs bis hin zu iPhone, iPad, Monitore und noch vieles vieles mehr.
        <br /><br />Wie so oft hat diese Art von Hardware ein Verfallsdatum – nicht etwa, weil die Hardware nicht mehr gut wäre, sondern sie entspricht einfach nicht mehr den Sicherheitskriterien, die wir im geschäftlichen Alltag einhalten müssen.
        <br /><br />Kleiner Tipp – die meisten Geräte sind gerade einmal 3-Jährig!
        <br /><br />Doch, was sollen wir bloss mit dieser ganzen «alten» Hardware machen? Einlagern geht nicht und extern weitergeben, finden wir auch ziemlich schade. So kamen wir als Team auf die Idee einen eigenen Shop aufzubauen, sodass wirklich jeder von Lidl die Möglichkeit hat, ein Schnäppchen zu ergattern.
        <br /><br />Ein Kratzer hier, eine kleine Delle da – uns stört es nicht und wir bestätigen, dass die Hardware zu 100% noch brauchbar ist und für den privaten Gebrauch noch ein paar Jahre genutzt werden kann.
        <br /><br />Wir alle kennen doch den Spruch – nur der Charakter zählt! So ist es auch mit unserer Hardware. 😊
        <br /><br />Stöbere doch Mal ein bisschen in unserem Shop und lasse dich von top Angeboten überzeugen. Wir freuen uns schon sehr auf deine Bestellung.


        <br /><br />Bis bald
        <br /><br />Dein IT Service & Support Team
       
            </p>
</MudText>

<img src="Team.png" width="50%"/>

<MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
                     <strong>Kontaktdaten</strong>
</MudText>
<br />
<MudText Typo="Typo.body1" Align="Align.Left" 
                Style="color:black; font-weight:normal">
            <p>Mail: support@lidl.ch <br />
                Telefonnummer: 0716278149
            </p>
            </MudText>
@code {

}
