/* Hintergrundfarbe für einen grünen Verlauf */
.navbar-toggler {
    background-color: rgba(0, 100, 0, 0.7); /* Dark green */
}

/* mit Farbverlauf */
.top-row {
    height: 6.5rem;
    background: linear-gradient(to right, #0f7953, #71bd4d);
}

    /* Style für Logo Bild */
    .top-row img {
        max-width: 110%; 
        height: auto; 
        margin-right: 10px; 
        margin-bottom: 15px; 
        vertical-align: middle;
        padding-top: 20px;
    }

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
    color: white;
}

/* mit Farbverlauf */
.nav-scrollable {
    background: linear-gradient(to right, #0f7953, #71bd4d);
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 5rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: white;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255, 255, 255, 0.25);
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255, 255, 255, 0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
